#PostgreSQL
POSTGRES_DB=My_Eats
POSTGRES_USER=eats_user
POSTGRES_PASSWORD=secret_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

#backend
PORT=8000
LOG_LEVEL=INFO

# SQLAlchemy async connection string
DATABASE_URL=postgresql+asyncpg://eats_user:secret_password@db:5432/My_Eats